.main_grid {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main right'
        'footer footer footer footer footer footer';
    gap: 10px;
    background-color: white;
    padding: 10px;
}

.block_main {
    width: 100%;
    background-color: rgb(83, 83, 83);
    position: relative;
    display: flex;
    float: left;
    justify-content: center;
}

.block_sub {
    display: flex;
    float: left;
    justify-self: center;
    margin: 30px;
}

.block_sub_rev {
    display: flex;
    float: right;
    justify-self: center;
    margin: 30px;
}

.polygon_right {
    position: relative;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    width: 100%;
    height: 500px;
    background-color: aqua;
    display: flex;
    float: left;
}

.polygon_left {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    background-color: red;
}

.desc_block {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    align-self: center;
}

.img_block {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: black;
    border: black solid 3px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img_fit {
    object-fit: contain;
    width: 300px;
}

.block_title_right {
    background-color: gray;
    width: 500px;
    height: 80px;
    position: absolute;
    top: -20px;
    left: 50%;
}